.container {
  max-width: 700px;
  margin: 3rem auto;
  padding: 0 20px;
  > button {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--highlight);

    margin-top: 4rem;

    background: none;
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }

}

.post {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: var(--heading);
    transition: color 0.2s ease-in-out;
  }

  h2 {
    margin-top: .5rem;
    font-size: 1.07rem;
    font-weight: normal;
    color: var(--body);
  }

  & + & {
    margin-top: 2rem;
  }

  &:hover {
    h1 {
      color: var(--highlight);
    }
  }
}

.info {
  display: flex;
  margin-top: 1.5rem;

  font-size: 1rem;
  color: var(--info);


  time {
    display: flex;
    align-items: center;
    margin-right: 1.3rem;
  }

  span {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: .5rem;
    width: 20px;
    height: 20px;
  }
}
